<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.busanbank.card.branch.mapper.BranchMapper">


    <select id="findAllBranches" resultType="com.busanbank.card.branch.dto.BranchDto">
        SELECT
            BRANCH_NO as branchNo,
            BRANCH_NAME as branchName,
            BRANCH_ADDRESS as branchAddress,
            BRANCH_TEL as branchTel
        FROM BNK_BRANCH
    </select>

</mapper>